<!DOCTYPE html>
<html>
	<head></head>
	<body>
		<h4>Enter name:</h4>

		<form action='/set_name' method='post'>
			Name: <input type='text' name='player_name' />
			<br />
			<input type='submit' class='btn' />
		</form>
	</body>
</html>

